workflows/caldav-sub-workflow.json
{
  "name": "📅 Nextcloud CalDAV Sub-Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the input - tool sends data as 'query' JSON string\nconst raw = $input.first().json;\nlet parsed = {};\ntry {\n  // AI tools send data as 'query' field (JSON string)\n  if (raw.query) {\n    parsed = JSON.parse(raw.query);\n  } else {\n    // Direct call with fields already parsed\n    parsed = raw;\n  }\n} catch(e) {\n  parsed = raw;\n}\n\n// Normalize: support both 'action' and 'operation' fields\nconst action = parsed.action || parsed.operation || 'list';\nconst normalizedAction = (action === 'createEvent' || action === 'create') ? 'create' : 'list';\n\nreturn [{ json: {\n  action: normalizedAction,\n  days: parseInt(parsed.days) || 7,\n  summary: parsed.summary || parsed.title || '',\n  dtstart: parsed.dtstart || parsed.start || '',\n  dtend: parsed.dtend || parsed.end || '',\n  description: parsed.description || '',\n  location: parsed.location || '',\n  uid: parsed.uid || ''\n}}];"
      },
      "id": "node-parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-op",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Is createEvent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build iCal event from parsed input data\nconst input = $input.first().json;\n\nconst uid = input.uid || `n8n-${Date.now()}-${Math.random().toString(36).substr(2,9)}@nextcloud`;\n\nconst parseDate = (d) => {\n  if (!d) return new Date().toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\n  // Already in iCal format like 20260301T100000 or 20260301T100000Z\n  if (/^\\d{8}T\\d{6}/.test(d)) return d.endsWith('Z') ? d : d + 'Z';\n  // ISO string\n  return new Date(d).toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\n};\n\nconst dtstart = parseDate(input.dtstart);\nconst dtend = parseDate(input.dtend || new Date(Date.now() + 3600000).toISOString());\nconst summary = input.summary || 'New Event';\nconst description = input.description || '';\nconst location = input.location || '';\n\nconst ical = [\n  'BEGIN:VCALENDAR',\n  'VERSION:2.0',\n  'PRODID:-//n8n//Nextcloud CalDAV//EN',\n  'CALSCALE:GREGORIAN',\n  'BEGIN:VEVENT',\n  `UID:${uid}`,\n  `DTSTAMP:${new Date().toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z'}`,\n  `DTSTART:${dtstart}`,\n  `DTEND:${dtend}`,\n  `SUMMARY:${summary}`,\n  description ? `DESCRIPTION:${description}` : null,\n  location ? `LOCATION:${location}` : null,\n  'END:VEVENT',\n  'END:VCALENDAR'\n].filter(Boolean).join('\\r\\n');\n\nreturn [{ json: { ical, uid, filename: `${uid}.ics`, summary, dtstart, dtend } }];"
      },
      "id": "node-build-ical",
      "name": "Build iCal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://nx59021.your-storageshare.de/remote.php/dav/calendars/Greg/personal/' + $json.filename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/calendar; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/calendar",
        "body": "={{ $json.ical }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-create-event",
      "name": "CalDAV PUT (Create Event)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        180
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Nextcloud CalDAV Greg (fixed)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ 'Event created: ' + $('Build iCal Data').first().json.summary }}",
              "type": "string"
            },
            {
              "id": "assign-uid",
              "name": "uid",
              "value": "={{ $('Build iCal Data').first().json.uid }}",
              "type": "string"
            },
            {
              "id": "assign-status",
              "name": "httpStatus",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-result-create",
      "name": "Return Create Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build date range query using 'days' parameter\nconst input = $input.first().json;\nconst days = input.days || 7;\n\nconst now = new Date();\nconst end = new Date();\nend.setDate(end.getDate() + days);\n\nconst fmt = (d) => d.toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\n\nconst startStr = fmt(now);\nconst endStr = fmt(end);\n\nconst xml = `<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<C:calendar-query xmlns:D=\"DAV:\" xmlns:C=\"urn:ietf:params:xml:ns:caldav\">\n  <D:prop>\n    <D:getetag/>\n    <C:calendar-data/>\n  </D:prop>\n  <C:filter>\n    <C:comp-filter name=\"VCALENDAR\">\n      <C:comp-filter name=\"VEVENT\">\n        <C:time-range start=\"${startStr}\" end=\"${endStr}\"/>\n      </C:comp-filter>\n    </C:comp-filter>\n  </C:filter>\n</C:calendar-query>`;\n\nreturn [{ json: { xml, startStr, endStr, days } }];"
      },
      "id": "node-build-query",
      "name": "Build Date Range Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nx59021.your-storageshare.de/remote.php/dav/calendars/Greg/friedemann.schuetz@googlemail.com/?export",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "CalDAV REPORT (Get Events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        420
      ],
      "id": "node-get-events",
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Nextcloud CalDAV Greg"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse iCal events from raw iCal export\nconst rawBody = $input.first().json.data || '';\nconst days = $('Build Date Range Query').first().json.days || 7;\n\n// Calculate date range for filtering\nconst now = new Date();\nconst endDate = new Date(now.getTime() + days * 86400000);\n\n// Split into VEVENT blocks - handle \\r\\n line endings\nconst events = [];\nconst veventRegex = /BEGIN:VEVENT[\\s\\S]*?END:VEVENT/g;\nconst matches = rawBody.match(veventRegex) || [];\n\nfor (const block of matches) {\n  // Handle iCal line folding (lines starting with space are continuations)\n  const unfolded = block.replace(/\\r?\\n[ \\t]/g, '');\n  \n  const get = (key) => {\n    const m = unfolded.match(new RegExp(key + '[^:]*:(.*)'));\n    return m ? m[1].trim() : '';\n  };\n  \n  const summary = get('SUMMARY');\n  let dtstart = get('DTSTART');\n  let dtend = get('DTEND');\n  const location = get('LOCATION');\n  const description = get('DESCRIPTION');\n  const uid = get('UID');\n  \n  // Parse iCal date to JS Date for filtering\n  const parseIcalToDate = (d) => {\n    if (!d) return null;\n    // Remove TZID prefix if present\n    d = d.replace(/^.*:/, '');\n    if (d.length === 8) {\n      return new Date(d.slice(0,4) + '-' + d.slice(4,6) + '-' + d.slice(6,8));\n    }\n    if (d.includes('T')) {\n      const clean = d.replace(/Z$/, '');\n      const year = clean.slice(0,4), month = clean.slice(4,6), day = clean.slice(6,8);\n      const hour = clean.slice(9,11) || '00', min = clean.slice(11,13) || '00';\n      return new Date(`${year}-${month}-${day}T${hour}:${min}:00`);\n    }\n    return new Date(d);\n  };\n  \n  const startDt = parseIcalToDate(dtstart);\n  if (!startDt) continue;\n  \n  // Filter: only events within date range\n  if (startDt < now || startDt > endDate) continue;\n  \n  // Format for display\n  const formatDate = (d) => {\n    if (!d) return '';\n    d = d.replace(/^.*:/, '');\n    if (d.length === 8) return d.slice(0,4)+'-'+d.slice(4,6)+'-'+d.slice(6,8);\n    if (d.includes('T')) {\n      const c = d.replace(/Z$/,'');\n      return c.slice(0,4)+'-'+c.slice(4,6)+'-'+c.slice(6,8)+' '+c.slice(9,11)+':'+c.slice(11,13);\n    }\n    return d;\n  };\n  \n  events.push({\n    summary,\n    start: formatDate(dtstart),\n    end: formatDate(dtend),\n    location,\n    description: description.substring(0, 200),\n    uid\n  });\n}\n\n// Sort by start\nevents.sort((a,b) => a.start.localeCompare(b.start));\n\nconst text = events.length === 0\n  ? 'Keine Termine in den nächsten ' + days + ' Tagen.'\n  : events.map(e => {\n      let s = '📅 ' + e.summary + ' — ' + e.start;\n      if (e.end) s += ' bis ' + e.end;\n      if (e.location) s += ' 📍 ' + e.location;\n      return s;\n    }).join('\\n');\n\nreturn [{json: {events, text, count: events.length}}];"
      },
      "id": "node-parse-events",
      "name": "Parse iCal Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        420
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Is createEvent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is createEvent?": {
      "main": [
        [
          {
            "node": "Build iCal Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Date Range Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build iCal Data": {
      "main": [
        [
          {
            "node": "CalDAV PUT (Create Event)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalDAV PUT (Create Event)": {
      "main": [
        [
          {
            "node": "Return Create Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Date Range Query": {
      "main": [
        [
          {
            "node": "CalDAV REPORT (Get Events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalDAV REPORT (Get Events)": {
      "main": [
        [
          {
            "node": "Parse iCal Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "n8n-greg-repo": true
  }
}